.details-cont {
  padding: 0 5px 0 10px;
  height: calc(100vh - 19rem);
  overflow: auto;
}

.details-cont li {
  list-style: none;
  height: 70px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.details-cont li span:first-child {
  color: rgba(255, 255, 255, 1);
}

.details-cont li span:last-child {
  color: rgba(255, 255, 255, 0.9);
}

.details-light {
  background-color: rgba(0, 0, 0, 0.02);
}

.details-dark {
  background-color: rgba(0, 0, 0, 0.05);
}

@media (max-width: 600px) {
  .details-cont {
    height: 300px;
  }

  .coins-title {
    width: calc(100% - 40px);
    font-size: 14px;
    font-weight: 500;
  }

  .details-cont li {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .details-cont li {
    font-size: 12px;
  }
}
