.coins-title {
  width: calc(100% - 40px);
  padding: 10px 10px;
  margin: 0 10px 1px 10px;
  font-family: "Lato", sans-serif;
  background-color: rgb(219, 49, 120);
  font-size: 16px;
  font-weight: 500;
  border: none;
}

::placeholder {
  color: #000;
}

.coin-card-cont {
  padding: 0 5px 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 19rem);
  overflow: auto;
}

@media (max-width: 600px) {
  .coin-card-cont {
    height: 300px;
  }

  .coins-title {
    width: calc(100% - 40px);
    font-size: 14px;
    font-weight: 500;
  }
}
