.chart-cont {
  width: calc(100% - 40px);
  padding: 20px;
  display: grid;
  grid-template-columns: 4fr 3fr;
}

.chart-img {
  width: 100%;
  height: 100px;
  position: relative;
  z-index: 1;
}

.chart-img img {
  position: absolute;
}

.chart-text {
  padding: 10px 20px;
  position: relative;
  z-index: 2;
  background-color: #ff2c96;
}

.chart-text h1 {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.1;
}

.chart-text p {
  font-family: "Fira Sans", sans-serif;
  color: #fafafa;
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
}

@media (max-width: 350px) {
  .chart-img img {
    width: calc(100vw - 80px);
    height: 100%;
  }
}
