.coin-card {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 10px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px #ff2c96 solid;
  border-radius: 5px;
}

.coin-card svg {
  margin-left: auto;
  cursor: pointer;
}

.coin-card h2 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  text-align: start;
}

.coin-card h4 {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1;
  color: rgba(0, 0, 0, 0.5);
}

.coin-name {
  color: #fff;
}

.coin-symbol {
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 600px) {
  .coin-card h2 {
    font-size: 16px;
  }

  .coin-card h4 {
    font-size: 12px;
  }
}
