.nav-cont {
  width: calc(100% - 20px);
  padding: 15px 10px;
  background-color: rgba(0, 0, 0, 0.05);
}

.nav-cont ul {
  display: flex;
  justify-content: space-between;
}

.nav-cont ul li {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 18px;
}

.nav-cont ul li a {
  height: 30px;
  text-decoration: none;
}

.nav-cont ul li:last-child {
  column-gap: 20px;
}

.nav-cont ul li svg {
  cursor: pointer;
}

.date-wrapper {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  color: #fff;
}

.stats-wrapper {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  color: #fff;
}
